# Markdown Basics
## markdown basics
### Markdown Basics

*point1*(italic)
**point2**(bold)
***point3***(bold an italic)



* normel text
 * subtext1
 * subtext2
 
> 1. point1
> 2. poitn26


* google Site -- [1]: http://www.google.com
* msn Site -- [2]: http://www.msn.com


- []option 1
* google Site -- [google][1]
[1]: http://www.google.com

In [3]:
print("hello,gitam")
print("hyderabad")

hello,gitam
hyderabad

In [13]:
print("hello, gitam", "|||")
print("hyderabad", end=" ||| ")
print("python programming")

hello, gitam |||
hyderabad ||| python programming

In [7]:
print("hello, gitam ||| hyderbad ||| python programming")

hello,gitam ||| hyderbad ||| python programming

### Assignments

In [10]:
n1 = 100 # single variable assignment
a = b = c = 20 # multiple variable assignment
a1,b1,c1 = 111,222,333 # multiple variable assignment 2
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

### Data types and converstions
* int
* float
* string

In [26]:
n1 = 100;
s1 = "python"
s2 = 'p'
f1 = 10.2
print(a)
print(s1)
print(s2)
print(f1)
print(type(a)) # to find its data type
print(type(s1))
print(type(s2))
print(type(f1))
print("   ")
# or(all in one line)
print(a,s1,s2,f1)
print(type(a),type(s1),type(s2),type(f1))

20
python
p
10.2
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>

20 python p 10.2
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [27]:
print("Hello world!\nHello world!")

Hello world!
Hello world!

In [32]:
s1 = "100"
print(type(s1))
a = int(s1)
print(type(a))
print(a)
print("\n")
f = 1.5
a1 = int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
100


<class 'int'>
1

In [33]:
# a number is give 1234 -
# digit count
a1 = 1234
print(len(str(a1)))

4

## reading a value
### * input("message") --string

In [36]:
s1 = input("enter your name")
print(s1)
print(type(s1))

enter your nameAmar Praveen
Amar Praveen
<class 'str'>

In [38]:
# want a number as the input
s1 = int(input("enter a number"))
print(s1,"\t",type(s1))

enter a number10
10 	 <class 'int'>

# operations



### arithetic operators

* + 
* -
* *
* /
* //
* %

**

In [55]:
a = 1
print(a+10)
print(a-10)
print(a*10)
print(a/10) 
print(a%10)
print(a//10) # gives coefficent in int
print(a**10) #gives power of the number

11
-9
10
0.1
1
0
1

### Procedence of arth operator 

* parenthesis (problem in th brackets) 
* power
* division
* multiplication
* addition
* sub

In [58]:
x = 1 + 2 ** 3 / 4 + 5
print(x)

8.0

In [59]:
x = 1 + 2 ** 3 / 4 * 5
print(x)

11.0

## Relational operators

* ==
* !=
* greater than(>)
* lesser than (<)
* greater than equal to(>=)
* lesser than equal to(<=)

In [69]:
i = 100
a = (i>15) and (i<75)
b = (i>15) and (i<150)

## logical operators
 
 
used to combine mor than singal comand

* and 
* or 
* not

In [62]:
# to check a given number is even or odd
n = int(input("enter a number"))
if n%2 == 0:
    print("even")
else:
    print("odd")

enter a number10
even

In [67]:
# to check if given number is perfect multiple of 3 and 5
n = int(input("enter a number"))
if n%3==0 and n%5 == 0:
    print("yes")
else:
    print("no")

enter a number15
yes

In [74]:
# to check given number is positive,negative or zero
n = int(input("enter a number"))
if n>0:
    print("positive")
elif n==0:
    print("zero")
elif n<0:
        print("negative")

enter a number0
zero